#container, #container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-bottom: 100px;
}

#container *, #container * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

#view, #view-2 {
  overflow: hidden;
  position: relative;
  height: auto;
  z-index: 2;
  cursor: grab;
}

#view.grabbing, #view-2.grabbing{
  cursor: grabbing;
}

#wrapper, #wrapper-2 {
  top: 0;
  position: relative;
  display: flex;
  padding: 10px 0;
  z-index: 1;
}

#wrapper.shifting, #wrapper-2.shifting {
  transition: left .3s ease-out;
}

.control {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 3;
}

.control.prev.hide,
.control.next.hide {
  visibility: hidden;
}

.prev,
.next {
  cursor: pointer;
  background: url('../assets/arrow.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 90%;
}

.next {
  transform: rotate(180deg);
}

.prev:active,
.next:active {
  transform: scale(.9);
}

.next:active { transform: rotate(180deg); }

.paging {
  position: absolute;
  top: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 25px 0 0;
  background: transparent;
  z-index: 3;
}

.paging .index {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border: none;
  border-radius: 50%;
  filter: opacity(.35);
  outline: none;
  cursor: pointer;
}

.paging .index.active {
  filter: opacity(1);
}

/* element custom */
html,
body {
  background-color: #b3f542;
}

.slide, .slide-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 300px;
  height: 200px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 8px;
  transition: all 1s;
}

.control {
  display: block;
  background-color: #e642f5;
}

.paging .index {
  background-color: #e642f5;
}